body {
  background-color: #efc841;
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

h1 {
  color: #343a40;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

small {
  display: block;
  margin-top: 10px;
  color: #6c757d;
  font-size: 14px;
}

button.btn-primary {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button.btn-primary:hover {
  background-color: #408b42;
}

/* Utilisation du sélecteur d'attribut pour cibler le champ password généré par Symfony */
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="password"]:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}
