body {
  background-image: url("https://img.freepik.com/photos-gratuite/bulles-style-pop-art-fond-jaune_23-2147910070.jpg?w=360&t=st=1708476480~exp=1708477080~hmac=3d39ca9d77e1c87bd3a7267e11f55f19909c2821edacc4b79945174f1911d2fb");
}
.titre {
  text-align: center;
  margin-top: 2%;
}
