{# templates/terms/index.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset("css/terms.css")}}"
{% endblock %}


{% block title %}Conditions Générales de Vente{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Conditions Générales de Vente</h1>
    <p>Bienvenue sur notre page des Conditions Générales de Vente.</p>
    <h2>Article 1 : Objet</h2>
    <p>Les présentes conditions générales de vente (CGV) s'appliquent à toutes les ventes conclues sur le site Internet Ventalis Burger.</p>

    <h2>Article 2 : Prix</h2>
    <p>Les prix de nos produits sont indiqués en euros toutes taxes comprises (TTC).</p>

    <h2>Article 3 : Commande</h2>
    <p>Vous pouvez passer commande sur notre site Internet 24 heures sur 24 et 7 jours sur 7.</p>

    <h2>Article 4 : Livraison</h2>
    <p>La livraison est effectuée à l'adresse Ventalis lors de la passation de votre commande.</p>

    <h2>Article 5 : Paiement</h2>
    <p>Le paiement s'effectue en ligne par carte bancaire via un système sécurisé.</p>

    <h2>Article 6 : Rétractation</h2>
    <p>Conformément aux dispositions légales en vigueur, vous disposez d'un délai de 14 jours pour exercer votre droit de rétractation.</p>

    <h2>Article 7 : Garanties</h2>
    <p>Tous nos produits bénéficient de la garantie légale de conformité et de la garantie contre les vices cachés.</p>

    <h2>Article 8 : Service Client</h2>
    <p>Pour toute question ou information, vous pouvez nous contacter via notre formulaire de contact.</p>

    <h2>Article 9 : Propriété Intellectuelle</h2>
    <p>Tous les éléments du site Ventalis Burger sont et restent la propriété intellectuelle et exclusive de Ventalis Burger.</p>

    <h2>Article 10 : Droit Applicable</h2>
    <p>Les présentes conditions générales de vente sont soumises à la loi française.</p>
</div>
{% endblock %}
